/* CSS Reset */
*, *::before, *::after { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

:root {
    --gray : rgb(160, 160, 160);
    --light-gray : #F3F3F3;
    --soft-lavender: #e1e8f6;
    --dark-gray: #DCE1E3;
    --lapis: #39a0ca;
    --ice-blue: #a0d2eb;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    /* justify-content: center; */
    justify-items: center;
    /* background-color: var(--soft-lavender); */
    background-image: url(./img/audience.jpg);
    background-size: cover;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.25;
    user-select: none
}

h3 {
    width: 1100px;
    height: 60px;
    background-color: var(--light-gray) ;
    opacity: 0.8;
    margin: 40px;
    padding: 20px;
    padding-bottom: 30px;
    box-shadow: 0 3px 5px rgb(185, 185, 185);
    text-align: center;
    font-size: 60px;
}

.main-panel {
    width: 2000px;
    height: 500px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
}

.gameboard {
    height: 100%;
    min-width: 500px;
    margin: 10px;
    display: grid;
    justify-self: left;
    margin-left: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--soft-lavender);
}

.stats {
    background-color: #ade4ffe3;
    width: 200px;
    height: 85%;
    margin-right: 20px;
    margin-top: 55px;
    justify-self: right;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    box-shadow: 0 3px 5px rgb(185, 185, 185);
    border: rgb(22, 22, 22) solid 0.2px;
}

.square {
    border: black solid;
    padding-top: 18px;
    opacity: 1;
    transition: 0.3s;
    background-color: #a0d2eb;
    box-shadow: 0 3px 5px rgb(185, 185, 185);
    text-align: center;
    font-size: 100px;
}

.square:hover {
    opacity: 0.5;
    transform: translateY(-1.5px);
}

.square:active {
    transform: translateY(2px);
}

#player-info {
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

p {
    width: 200px;
    margin-left: 30px;
    font-size: 20px;
}

#reset {
    height: 30px;
    width: 100px;
    margin-left: 50px;
    grid-row: 4/5;
    box-shadow: 0 3px 5px rgb(185, 185, 185);
    border-radius: 3.5px;
    border: black solid 0.5px;
    background-color: var(--dark-gray);
}

#reset:hover {
    opacity: 0.7;
}

#reset:active {
    transform: translateY(1px);
}

.result {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
    color: green;
}

.turn {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 40px;
    color: rgb(255, 83, 83);
}